image: node:20

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm/
    - node_modules/

stages:
  - style
  - build
  - release

before_script:
  - npm ci --cache .npm --prefer-offline

lint:
  stage: style
  script:
    - npm run lint --workspaces --if-present

types:
  stage: style
  script:
    - npm run type-check --workspaces --if-present

build:
  stage: build
  script:
    - npm run build --workspaces --if-present

publish_npm:
  stage: release
  script:
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
    - npm ci
    - npm run build --workspaces
    - npm run release
  rules:
    - if: $CI_COMMIT_BRANCH == "main"