image: node:20

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm/
    - node_modules/

stages:
  - style
  - build
  - test
  - release

before_script:
  - npm ci --cache .npm --prefer-offline

.test-base:
  stage: test
  # parses total coverage % from console output
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'
  variables:
    PACKAGE: ''
  script:
    - npm run test:coverage -w $PACKAGE -- --reporter=verbose
  rules:
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG

test:core:
  extends: .test-base
  variables:
    PACKAGE: '@pro6pp/infer-core'

test:js:
  extends: .test-base
  variables:
    PACKAGE: '@pro6pp/infer-js'

test:react:
  extends: .test-base
  variables:
    PACKAGE: '@pro6pp/infer-react'

lint:
  stage: style
  script:
    - npm run lint --workspaces --if-present

format:
  stage: style
  script:
    - npm run format --workspaces --if-present

types:
  stage: style
  script:
    - npm run type-check --workspaces --if-present

build:
  stage: build
  script:
    - npm run build --workspaces --if-present

publish_npm:
  stage: release
  script:
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
    - npm ci
    - npm run build --workspaces
    - npm run release
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
